#로그파일
logs/
*.log

# Python 캐시 파일
**/__pycache__/
*.py[cod]
*$py.class

# 가상 환경
venv/
env/
.venv/

# 패키지 관리
*.egg-info/
dist/
build/

# 환경 설정
.env
.env.local


GEMINI.md

test_large_upload.py
generate_data.py
run_upload.py
verify_db.py

#더미데이터
sample_pump_manual.pdf
sensor_catalog.xlsx

node_modules/

/data

CLAUDE.md